# dependencies
node_modules/

# build output
dist/
dist-ssr/
build/

# expo
.expo/
web-build/
expo-env.d.ts

# env
.env
.env.local
*.local

# logs
*.log
pnpm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
